@keyframes btn-inline-focus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes move-right {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(8px);
  }
}
