.cta {
  padding: 3.5rem 0;
  text-align: center;
  @media only screen and (max-width: $bp-900px) {
    padding: 2.5rem 0 8.5rem;
    margin-bottom: 3rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }

  &__btn {
    border: none;
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      var(--color-main-light),
      var(--color-main-dark)
    );
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    position: relative;
    overflow: hidden;
    & > * {
      display: inline-block;
      width: 100%;
      height: 100%;
      transition: all 0.2s;
    }
    &__visible {
      padding: 2rem 7.5rem;
    }
    &__hidden {
      padding: 2rem 0;
      position: absolute;
      top: -100%;
      left: 0;
    }

    &:hover {
      background-image: linear-gradient(
        to left,
        var(--color-main-light),
        var(--color-main-dark)
      );
    }

    &:hover &__hidden {
      top: 0;
    }

    &:hover &__visible {
      transform: translateY(100%);
    }
  }
}
